body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.title-cover {
    font-size: 72pt;
    font-weight: bold;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    /* position: flex; */
}

title {
    font-size: 18pt;
    font-weight: bold;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    width: 100vw;
    /* position: flex; */
}

text {
    font-size: 9pt;
    font-weight: medium;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.hidden {
    display: none;
}

#cover-container{
    border: 1px solid red;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#linechart-container {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    /* align-content: flex-start ; */
    border: 1px solid green;
}

#sankey-container {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    border: 1px solid blue;
}

#map-container {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    border: 1px solid red;
}

.description {
    border: 1px solid black;
    width: 30vw;
    height: 100vh;
    /* order:1; */
}

#linechart {
    display: flex;
    border: 1px solid rgb(255, 225, 0);
    width: 70vw;
    height: 100vh;
    /* margin-left: 50px; */
    opacity: 1;
    /* transition: opacity 250ms ease; */
}

.line {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#sankey {
    position: flex;
    border: 1px solid rgb(128, 127, 122);
    width: 70vw;
    height: 100vh;
    /* margin-left: 50px; */
    opacity: 1;
    /* transition: opacity 250ms ease; */
}

.node rect {
    fill-opacity: 0.9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: 0.2;
}

.link:hover {
    stroke-opacity: 0.5;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 14px sans-serif;
    font-weight: medium;
    background: white;
    border: 10px;
    border-radius: 5px;
    pointer-events: none;
}

.container-map {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#map {
    border: 1px solid rgb(128, 127, 122);
    margin: 0;
    padding: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
}

#map-legend {
    position: absolute;
    bottom: 30px;
    /* Adjust the top position as needed */
    right: 10px;
    /* Adjust the right position as needed */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align items to the right side */
    padding: 0;
    /* background-color: white; */
    /* border: 1px solid #ccc; */
    font-size: 9px;
    z-index: 1;
    /* Ensure the legend appears above the map */
}

.map-legend-item {
    display: flex;
    align-items: center;
    /* margin-bottom: 5px; */
    /* border: 1px solid #ccc; */
}

.map-legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.map-legend-text {
    white-space: nowrap;
    /* Prevent text from wrapping */
}

#slider-container {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 3vw;
    height: 50vh;
    /* z-index: +1; */
}

#slider {
    transform: rotate(-90deg);
    /* width: 100px; Adjust the width based on your preference */
}

.year {
    margin-top: 60px;
}

#slider-value {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}